<form (ngSubmit)="ajouter(form)" #form="ngForm"></form>
<ul>
    <!-- #form : variable de template -->
    <li>Dirty : {{ formForm.dirty }} (pristine)</li>
    <li>Touched : {{ formForm.touched }} (untouched)</li>
    <li>Etat : {{ formForm.status }}</li>
</ul>
<div>
    <label for="nom">Nom</label>
    <input type="text" id="nom" [(ngModel)]="formation.nom" name="nom" required minlength="2" #nom="ngModel">
    <span [hidden]="nom.valid || nom.pristine">
        Le nom est obligatoire
    </span>
</div>
<div>
    <label for="prenom">Prénom</label>
    <input type="text" id="prenom" [(ngModel)]="personne.prenom" name="prenom" required minlength="2" #prenom="ngModel">
    <span [hidden]="prenom.valid || prenom.pristine">
        Le prénom est obligatoire
    </span>
</div>
<div>
    <label for="age">Âge</label>
    <input type="number" id="age" [(ngModel)]="personne.age" name="age" required min="15" max="150" #age="ngModel">
    <span [hidden]="age.valid || age.pristine">
        L'âge est obligatoire
    </span>
</div>
<div>
    <button ngClass="btn btn-primary" [disabled]="form.invalid">
        Ajouter
    </button>
</div>
</form>
<h3>Liste des personnes</h3>
<ul>
    @for (p of personnes; track $index) {
    <li>
        {{ p.prenom }} {{ p.nom }}
    </li>
    } @empty {
    <li>Liste vide !</li>
    }
</ul>