<h2>Mes formations</h2>

<div *ngIf="!isLoggedIn" class="alert alert-warning mt-3">
  Vous devez être connecté pour gérer vos formations.
</div>


  <form [formGroup]="formationForm" (ngSubmit)="addFormation()" class="mb-4 mt-3">

    <div class="mb-3">
      <label class="form-label" for="nom">Nom</label>
      <input
        id="nom"
        type="text"
        class="form-control"
        formControlName="nom">
        @if (formationForm.get('nom')?.invalid && formationForm.get('nom')?.touched) {
            <div class="text-danger mt-1">
              {{ 'Le nom est obligatoire.' }}
          </div>
        }
    </div>

    <div class="mb-3">
      <label class="form-label" for="description">Description</label>
      <input
        id="description"
        type="text"
        class="form-control"
        formControlName="description">
    </div>

    <button type="submit"
            class="btn btn-primary"
            [disabled]="formationForm.invalid || loading">
      Ajouter
    </button>
  </form>


  <!-- LISTE DES FORMATIONS -->
  <h3 class="mt-4">Liste des formations</h3>

  <!-- <ul class="list-group" *ngIf="formations.length; else emptyList">
    <li class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let f of formations">
      <div>
        <strong>{{ f.nom }}</strong><br>
        <small>{{ f.description }}</small>
      </div>
      <button type="button"
              class="btn btn-sm btn-outline-danger"
              (click)="deleteFormation(f)">
        Supprimer
      </button>
    </li>
  </ul> -->
<ul>
    @for (f of formations; track $index) {
    <li>
        {{ f.nom }} {{ f.description }}
    </li>
    } @empty {
    <li>Liste vide !</li>
    }
</ul>


