<form (ngSubmit)="ajouter(form)" #form="ngForm">
    <ul>
        <!-- #form : variable de template -->
        <li>Dirty : {{ form.dirty }} (pristine)</li>
        <li>Touched : {{ form.touched }} (untouched)</li>
        <li>Etat : {{ form.status }}</li>
    </ul>
    <div class="d-flex flex-column align-items-center mb-3">
        <label for="titre">titre</label>
        <input class="card col-3" type="text" id="titre" [(ngModel)]="formation.titre" name="titre" required
            minlength="2" #titre="ngModel">
        <span [hidden]="titre.valid || titre.pristine">
            Le titre est obligatoire
        </span>
        <label for="duree">Durée</label>
        <input class="card col-3" type="number" id="duree" [(ngModel)]="formation.duree" name="duree" required
            minlength="2" #duree="ngModel">
        <span [hidden]="duree.valid || duree.pristine">
            La durée est obligatoire
        </span>
        <label for="dateDebut">Date de début</label>
        <input class="card col-3" type="date" id="dateDebut" [(ngModel)]="formation.dateDebut" name="dateDebut" required
            minlength="2" #dateDebut="ngModel">
        <span [hidden]="dateDebut.valid || dateDebut.pristine">
            La date de debut est obligatoire
        </span>
    </div>
    <div>
        <button Class="btn btn-primary" [disabled]="form.invalid" type="submit">
            Ajouter
        </button>
    </div>
</form>
<h3>Liste des formation</h3>
<div class="d-flex justify-content-evenly">
    @for (f of formations; track $index) {
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">titre : {{ f.titre }}</h3>
            <p class="card-text">durée : {{ f.duree }} semaines</p>
            <p class="card-text">date de début : {{ f.dateDebut }}</p>
        </div>
        @if (f.id !== undefined) {
            <button Class="btn btn-primary" (click)="supprimer(f.id)">
                Supprimer
            </button>
        }
    </div>
    } @empty {
    <div class="alert alert-warning">
        <span>
            Liste vide !
        </span>
    </div>
    }
</div>